<tr>
  <td><%= earning.company_symbol %></td>
  <td><%= earning.earnings_released_on %></td>
  <td><%= earning.earnings %></td>
  <td><%= earning.expectation %></td>
  <td><%= earning.revenue %></td>
</tr>
